<template name="nav">
    <header>
        <nav>
            <div>
                <a href="/">Meteor Boilerplate</a>
                <ul>
                    <li class="{{isActiveRoute name='hidden_page'}}"><a href="{{pathFor route='hidden_page'}}">Hidden Page</a></li>
                    <li class="{{isActiveRoute name='not_found'}}"><a href="{{pathFor route='not_found'}}">Not Found Page</a></li>
                    <li><a>{{> atNavButton}}</a></li>
                </ul>
            </div>
        </nav>
    </header>
</template>